@implements IResultDialog

<Table TItem="Test" IsTracking="true" @bind-Items="_test" AutoGenerateColumns="true" ShowToolbar="true" ShowExtendButtons="true">
    
</Table>

@code {
    [Parameter]
    public IEnumerable<Test>? Tests { get; set; }

    private IEnumerable<Test>? _test;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _test ??= Tests;
    }

    public Task OnClose(DialogResult result)
    {
        return Task.CompletedTask;
    }
}
